*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-panel{
    height: 100vh;
    width: 34%;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.light{
    background-color:#f8f9fa;
    color: rgb(0, 0, 0);
}

.dark{
    background-color: #001219;
    color: white;
}

.header{
    display: flex;
    font-size: 15px;
    padding: 10px;
    gap: 10px;
}

.header input{
    margin-left: 70px;
    height: 30px;
    width: 300px;
}

.header input:hover{
    cursor: pointer;
    border: 2px solid black;
}

.search{
    height: 30px;
    width: 50px;
    background-color: #eb5e28;
}

.current-location{
    height: 30px;
    width: 50px;
    background-color: #eb5e28;
}
.mode{
    height: 30px;
    width: 50px;
    background-color: #eb5e28;
}

.filter-choices{
    margin-top: 25px;
    margin-left: 25px;
}

label{
    font-weight: bolder;
}

option{
    font-weight: bold;
}

.scroll{
    margin-top: 25px;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.places-card{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.places-card img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    gap: 15px;
}

.right-panel{
    height: 100vh;
    width: 66%;
    margin-left: 34%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width:600px){
    .container{
        flex-direction: column;
    }
    .left-panel{
        height: 50vh;
        width: 100%;
        position: relative;
        overflow-y: auto;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .header h2{
        width: 100%;
        text-align: center;
    }
    .header input{
        margin: 0;
        padding: 0;
        height: 30px;
        width:200px;
    }
    .scroll {
        height:auto;
        overflow-y: auto;
    }
    .places-card{
        flex-direction: row;
        align-items: center;
    }
    .places-card img{
        height: 125px;
        width: 125px;
    }
    .info{
        text-align: left;
        align-items: flex-start;
    }
    .right-panel{
        margin: 0;
        padding: 0;
        height: 50vh;
        width: 100vw;
        position: relative;
        overflow: hidden;
    }
}

@media(max-width:1024px) and (min-width:600px){
    .container{
        flex-direction: column;
    }
    .left-panel{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 50vw;
    }
         .header {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
         }
         .header h2 {
            width: 100%;
            text-align: center;
         }
          .header input {
            margin: 0;
            padding: 0;
            height: 30px;
            width: 200px;
        }
        .scroll {
            height: 90vh;
            overflow-y: auto;
        }
    .right-panel{
        margin-left: 50vw;
        height: 100vh;
        width: 50vw;
    }    
}